/* Dashboard Layout Styles */
.dashboardContainer {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background: var(--ligtn-p-icon);
  color: black;
}

.logo {
  text-align: center;
}

/* .logo h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #fbbf24;
} */

.nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  color: black;
  text-decoration: none;
  transition: all 0.2s ease;
  width: 208px;
  height: 44px;
  border-radius: 24px;
}

.navItem:hover {
  background: var(--light-p);
  color: white;
}

.navItem.active {
  background: var(--purple);
  color: white;
}

.navItem.active.profile-active {
  background-color: transparent;
  color: #d1d5db;
}

.icon {
  font-size: 20px;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

.mainContent {
  flex: 1;
  background-color: #f9fafb;
}

.header {
  padding: 16px 24px;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #111827;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

.userName {
 font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
text-align: center;
color: var(--black);
}

.userRole {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.logoutBtn {
  border: 2px solid var(--btn);
  border-radius: 24px;
  background: transparent;
  width: 123px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: var(--btn);
  transition: all 0.5s ease;
}
.logoutBtn:hover {
  background: var(--btn);
  color: #fff;
}

.main {
  padding: 24px;
}
